/* Import fonts */
@font-face {
  font-family: "Roseritta";
  src: url("https://krysialynne-dubsado.netlify.app/fonts/Roseritta.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Bon Vivant Script";
  src: url("https://krysialynne-dubsado.netlify.app/fonts/Bon_Vivant_Script.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "TT Ramillas";
  src: url("https://krysialynne-dubsado.netlify.app/fonts/TT_Ramillas_Light.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "TT Ramillas";
  src: url("https://krysialynne-dubsado.netlify.app/fonts/TT_Ramillas_Light_Italic.woff2");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Silk serif";
  src: url("https://krysialynne-dubsado.netlify.app/fonts/Silk_Serif_ExtraLight.woff2");
  font-weight: 200;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Silk serif";
  src: url("https://krysialynne-dubsado.netlify.app/fonts/Silk_Serif_ExtraLight_Italic.woff2");
  font-weight: 200;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Violet JW Sans";
  src: url("https://krysialynne-dubsado.netlify.app/fonts/Violet_JW_Sans.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

/* Set color variables */
:root {
  --brand-color-bg: #f2f2f3;
  --brand-color-light: #beb1a7;
  --brand-color-mid: #d3a579;
  --brand-color-dark: #1d2635;
  --brand-color-text: #333333;
}

/* Style global Dubsado elements */
.jb-form {
font-family: 'TT Ramillas', 'Cormorant Garamond', serif;
  font-weight: 300;
  color: var(--brand-color-text);
}

.jb-form h1 {
font-family: 'Roseritta', serif !important;
  font-weight: 400;
  text-transform: uppercase;
}

.jb-form h2 {
font-family: 'Violet JW Sans', serif !important;;
  font-weight: 400;
  letter-spacing: .15em;
}

.jb-form h3 {
font-family: 'Silk serif', serif !important;;
  font-weight: 200;
  letter-spacing: .1em;
}

.jb-form h4 {
font-family: 'Silk serif', serif !important;;
  font-weight: 200;
  font-style: italic;
  letter-spacing: .1em;
}

.form-text {
}

/* targets all the question text */
.jb-form label {}

/* short answer and date select boxes */
.jb-form input {}

/* free response boxes */
.jb-form textarea {}

/* dropdown boxes - including workflow and project tracking */
.jb-form select {}

/* date select button with calendar icon */
.btn-cal {}

/* image elements */
.form-image {}
