/* Import fonts */
@font-face {
  font-family: 'Roseritta';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/5ffb76bac98da96ffd0a0a4c_Roseritta.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Loenna';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/6036a353904d990cc61ab913_Loenna-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Ramillas';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/5ffb77e9679b326eab065edf_TTRamillas-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Ramillas';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/5ffb77e9a79f64adf3537e19_TTRamillas-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Silk serif';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/603458b47c38d7fa064795e3_Silk%20Serif%20Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silk serif';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/603458b4f0e186710d017a29_Silk%20Serif%20Light%20Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Violey JW Sans';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/5ffb781292999724ee7c0d83_VioletJWSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Set color variables */
:root {
  --brand-color-bg: #f2f2f3;
  --brand-color-light: #beb1a7;
  --brand-color-mid: #d3a579;
  --brand-color-dark: #1d2635;
  --brand-color-text: #333333;
}

/* Style global Dubsado elements */
.jb-form {
font-family: 'TT Ramillas', 'Cormorant Garamond', serif;
  font-weight: 300;
  
}

.jb-form h1 {}

.jb-form h2 {}

.jb-form h3 {}

.jb-form h4 {}

.form-text {}

/* targets all the question text */
.jb-form label {}

/* short answer and date select boxes */
.jb-form input {}

/* free response boxes */
.jb-form textarea {}

/* dropdown boxes - including workflow and project tracking */
.jb-form select {}

/* date select button with calendar icon */
.btn-cal {}

/* image elements */
.form-image {}
