/* Import fonts */
@font-face {
  font-family: 'Roseritta';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/5ffb76bac98da96ffd0a0a4c_Roseritta.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Loenna';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/6036a353904d990cc61ab913_Loenna-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Ramillas';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/5ffb77e9679b326eab065edf_TTRamillas-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silk serif';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/603458b47c38d7fa064795e3_Silk%20Serif%20Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Violey JW Sans';
  src: url('https://uploads-ssl.webflow.com/5ffb75dc0e826a57399ba4c5/5ffb781292999724ee7c0d83_VioletJWSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Hero Section */
.pp-secondary-title {

    font-family: 'Roserita', serif;
    font-weight: 400;
    line-height: 1.4;
color:white}


.heading-title {
    font-family: 'Violey JW Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
color:white!important;
}

.hero-section-boxed-S1-3{
	
   background: url('https://www.alicelouiseva.com/wp-content/uploads/2020/04/Palms-scaled.jpg');
background-size:cover;
background-attachment:fixed;
	height : 50vh; /*VH refers to the view height, 100VH is full height, 60vh is 60% */
	padding:20px;
	display: flex;
width: 100vw;
margin: 2vw -50vw;position: relative;
left: 50%;
right: 50%;

}


.hero-card-S1-3{
	background-color:transparent;
	margin:auto;
	width:100%;
	padding:25px;
	text-align:center;


}

@media only screen and (max-width: 700px) {
  .hero-section-boxed-S1-3{

background-attachment:scroll;
}
}

